@{
    ViewData["Title"] = "DashBoard";
}

<div class="mt-5">
    <h1 class="text-center">Welcome to Project Management System Dashboard</h1>
    <h2 class="text-center mt-3">Hello @User.Identity?.Name !</h2>
</div>
