@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}

<form asp-action="ForgotPassword" asp-asp-controller="Home" method="post" class="mt-5" id="ForgotPasswordForm">
    <div class="form-horizontal m-auto w40">
        <div class="Wraper p-5">
            <h3 class="text-center mb-5">Forgot Password</h3>
            <div>
                <label for="Email" class="control-label fw-bold">Email Id</label>
                <input id="Email" name="Email" value="@ViewBag.EmailID" class="form-control" placeholder="Enter Email id" tabindex="3" />
                <span id="spnEmail" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <input type="submit" value="Submit" class="btn btn-outline-primary mt-3 w30per" />
            </div>
            <div class="float-end mt-2">
                <a asp-action="Index" asp-controller="Home" class="text-decoration-none">Back to Login</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/Home/ForgotPassword.js"></script>
}

