@model ProjectMS.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}

@if (string.IsNullOrEmpty(Model.Email))
{
    <h1 class="text-center text-danger mt-5">Your token may be expired or invalid.</h1>
}
else
{
    <form asp-action="ResetPassword" asp-asp-controller="Home" method="post" class="mt-5">
        <div class="form-horizontal m-auto w40">
            <div class="Wraper p-5">
                <h3 class="text-center mb-5">Reset Password</h3>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" readonly/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Save" class="btn btn-outline-primary mt-3 w30per" />
                </div>
                <div class="float-end mt-2">
                    <a asp-action="Index" asp-controller="Home" class="text-decoration-none">Back to Login</a>
                </div>
            </div>
        </div>
    </form>
    @if (!string.IsNullOrEmpty(ViewBag.SomethingWentWrong))
    {
        <div class="text-center mt-3">
            <span class="text-danger fs-4">@ViewBag.SomethingWentWrong Please try again later.</span>
        </div>
    }
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
